@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/onemore.cshtml";
}
<style>
    li a {
        display: block;
       
    }
</style>

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Eventi</a></br>
            <a class="navbar-brand page-scroll" href="#page-top">(Online Event Reservation)</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="../frontpages/home" class="page-scroll">Home</a>
                </li>

                <li>
                    <a class="page-scroll" href="../onemore/categories">Categories</a>
                </li>
                <li>
                    <a class="page-scroll" href="../onemore/about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="../onemore/team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="../onemore/contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="../frontpages/faq">FAQ</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div id="homejump">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>

            </div>
        </div>
    </div>
</header>
 <!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <h3 class="section-subheading text-muted">Who are we? </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/newdesign/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">

                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We began to design a user friendly website that will allow the user to make online reservations for arranging any type of events at their selected places. User may want to arrange a marriage event, seminar, conferences, launching ceremonies and many more.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/newdesign/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">

                                <h4 class="subheading">Our Mission</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our mission is to create a project, in which ONLINE reservation of event complexes or halls will be done. User can make booking of the event complex of his own choice and all the booking process will be done by just using our website which provides all the basic requirements to book a hall to arrange their event at their chosen place. And any type of events for example marriages, seminars, launching events etc. can be arranged using this website. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/newdesign/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">

                                <h4 class="subheading">Services</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                     User Friendly and adaptable interface</br> Huge list of halls and restaurants</br> Popularity of Hall/restaurant is based on ratings.</br>	Food, timings, price, feedback,Event types, Decoration, Sound system </br> Facility for cancellation of reservation </br>  TCS & Debit/Credit card
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
