@{
    ViewBag.Title = "categories";
    Layout = "~/Views/Shared/onemore.cshtml";
}
<style>
    li a {
        display: block;
     
    }
</style>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Eventi</a></br>
                <a class="navbar-brand page-scroll" href="#page-top">(Online Event Reservation)</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="../frontpages/home" class="page-scroll">Home</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="../onemore/categories">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../onemore/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../onemore/team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../onemore/contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../frontpages/faq">FAQ</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div id="homejump">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in"></div>
                    <div class="intro-heading"></div>

                </div>
            </div>
        </div>
    </header>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Categories</h2>
                    <h3 class="section-subheading text-muted">Choose the category of your choice and we will make it for you.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item">
                    <a href="../frontpages/services" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/newdesign/img/portfolio/img_gallery_01_05_05.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Parties</h4>
                        <p class="text-muted">Make your party special.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item">
                    <a href="../frontpages/services" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>

                        <img src="~/Content/newdesign/img/portfolio/download%20(4).jpg" width="400" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Conferences</h4>
                        <p class="text-muted">Make your conferences efficient.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item">
                    <a href="../frontpages/services" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/newdesign/img/portfolio/Famous-Christian-wedding-stage-decoration-6.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Weddings</h4>
                        <p class="text-muted">Make your day memorable.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item">
                    <a href="../frontpages/services" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/newdesign/img/portfolio/welcome_olves_in_meerut_birthday_party_hall_img.jpg" width="400" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Birthdays</h4>
                        <p class="text-muted">Accept our wishes.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item">
                    <a href="../frontpages/services" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/newdesign/img/portfolio/download.jpg" class="img-responsive" width="400" alt="">

                    </a>
                    <div class="portfolio-caption">
                        <h4>Awards Ceremony</h4>
                        <p class="text-muted">Make your day proficient.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item">
                    <a href="../frontpages/services" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/newdesign/img/portfolio/conferences-photos05.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Seminars</h4>
                        <p class="text-muted">Make your seminars skilfull.  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>