@{
    ViewBag.Title = "team";
    Layout = "~/Views/Shared/onemore.cshtml";
}
<style>
    li a {
        display: block;
        
    }
</style>

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Eventi</a></br>
            <a class="navbar-brand page-scroll" href="#page-top">(Online Event Reservation)</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="../frontpages/home" class="page-scroll">Home</a>
                </li>

                <li>
                    <a class="page-scroll" href="../onemore/categories">Categories</a>
                </li>
                <li>
                    <a class="page-scroll" href="../onemore/about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="../onemore/team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="../onemore/contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="../frontpages/faq">FAQ</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div id="homejump">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>

            </div>
        </div>
    </div>
</header>
 <!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">A team of 4 highly qualified members.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <img src="~/Content/teamimages/nag.png" class="img-responsive img-circle" style="width:200px; height:300px;" alt="">

                    <h4>Nazish Azam</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <img src="~/Content/teamimages/fg.png" class="img-responsive img-circle " style="width: 200px; height: 300px;" alt="">




                    <h4>Faizan Safdar</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <img src="~/Content/newdesign/img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Itrat Zahra</h4>
                    <p class="text-muted">Lead Programmer</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <img src="~/Content/teamimages/na.jpg" class="img-responsive img-circle" style="width: 200px; height: 300px;" alt="">

                    <h4>Nazeef-ul-Haq</h4>
                    <p class="text-muted">Lead Writer</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">A team without goal is like a house without frame. Our team has set the mission to make this product profitable and thoughtful.</p>
            </div>
        </div>
    </div>
</section>
