@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/frontend.cshtml";
}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/FAQ/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/FAQ/css/style.css"> <!-- Resource style -->
    <link href="~/Content/newdesign/css/StyleSheet1.css" rel="stylesheet">


    <script src="~/Content/FAQ/js/modernizr.js"></script> <!-- Modernizr -->

</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Eventi</a></br>




            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="../frontpages/home" class=" page-scroll">Home</a>
                    </li>

                    <li>
                        <a href="../onemore/categories" class=" page-scroll">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../onemore/about">About</a>
                    </li>


                    <li>
                        <a class="page-scroll" href="../onemore/team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../onemore/contact">Contact</a>
                    </li>

                    <li>
                        <a href="../frontpages/privacypolicy">Privacy Policy</a>
                    </li>



                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

    <header>

        <div id="homejump">

            <div class="container">




                <a href="#" style="float:right; color:white;">Change Cover Photo</a>
                <div class="intro-text">
                    <div class="intro-lead-in"></div>

                    <div class="intro-heading"></div>

                </div>
            </div>
        </div>
    </header>
    <div>
        <h1 style="font-size:20px; padding-top:20px" class="text-center">Status: AVAILABLE</h1>
    </div>
    <div>
        <h1 style="font-size:20px; padding-top:20px" class="text-center">Ratings: 4.7/5.0</h1>
    </div>

    <section class="cd-faq">
        <ul class="cd-faq-categories">
            <li><a class="selected" href="#Description">Description</a></li>
            <li><a href="#Details">Details</a></li>
            <li><a href="#Gallery">Gallery</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#map">Map</a></li>
            <li><a href="#Comments">Comments</a></li>
            <li><a href="#Services">Services</a></li>

        </ul>
        <div class="cd-faq-items">
            <ul id="Description" class="cd-faq-group" style="font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif">
                <li class="cd-faq-title"><h1>Description</h1></li>

                <li>
                    <a class="cd-faq-trigger" style="color:black;" href="#0">Description</a>
                    <div class="cd-faq-content">
                        Banquet captains work in hotels and independent banquet halls to ensure the perfect execution of large dinners, receptions and events that require food and beverages. Banquet captains are the front of house for these events, making sure that the tables are decorated correctly, the food is presented well, and service goes off without a hitch.
                        <br />
                        Banquet servers, informally known as ycater waiters, are wait staff that work for big catering events and banquets. Working with the catering staff, who prepare each course at the same time, banquet servers must make sure each course is delivered as quickly as possible. Banquet servers keep glasses filled, remove each round of plates and answer any questions from guests.
                        <br />
                        <a class="page-scroll" href="#" style="color:blue; float:right">Edit</a>
                    </div> <!-- cd-faq-content -->

                </li>

            </ul> <!-- cd-faq-group -->

            <ul id="Description" class="cd-faq-group" style="font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif">
                <li class="cd-faq-title"><h1>Detail</h1></li>

                <li>
                    <a class="cd-faq-trigger" style="color:black;" href="#0">Detail</a>
                    <div class="cd-faq-content">
                        <p>Hall Name</p>
                        <p>Hall Address</p>
                        <p>Timings</p>
                    </div> <!-- cd-faq-content -->

                </li>

            </ul> <!-- cd-faq-group -->
            <ul id="Gallery" class="cd-faq-group">
                <li class="cd-faq-title"><h1>Gallery</h1></li>
                <div id="Event_Images">
                    <h2>Marriages</h2>
                    <div class="row" style="margin-top:0px">
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <a href="#myMapModal1" data-toggle="modal"><img src="~/Content/b/html/assets/dest/images/birthdays/pearl_continental_pc_lahore_banquet_facility_www.goghoom.com.jpg" alt="" style="width:250px;height:200px;margin-top:20px" /></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="product.html"><img src="~/Content/b/html/assets/dest/images/birthdays/wedding-flower-arrangement-1.jpg" alt="" style="width:250px;height:200px;margin-top:20px"></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="product.html"><img src="~/Content/b/html/assets/dest/images/birthdays/ottoman-suite-large.jpg" alt="" style="width:250px;height:200px;margin-top:20px"></a>
                        </div>
                    </div>
                    <h2 style="margin-top:30px;">BirthDays</h2>
                    <div class="row" style="margin-top:0px">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a class="" href="#" title=""><img src="~/Content/b/html/assets/dest/images/birthdays/banquet-hall-in-chennai.jpg" alt="" style="width:250px;height:200px;margin-top:20px" /></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="product.html"><img src="~/Content/b/html/assets/dest/images/birthdays/ottoman-suite-large.jpg" alt="" style="width:250px;height:200px;margin-top:20px"></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="product.html"><img src="~/Content/b/html/assets/dest/images/birthdays/wedding-flower-arrangement-1.jpg" alt="" style="width:250px;height:200px;margin-top:20px"></a>
                        </div>

                    </div>

                    <h2 style="margin-top:30px;">Conferences</h2>
                    <div class="rows" style="margin-top:0px">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a class="" href="#" title=""><img src="~/Content/b/html/assets/dest/images/birthdays/download.jpg" alt="" style="width:250px;height:200px;margin-top:20px" /></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="product.html"><img src="~/Content/b/html/assets/dest/images/birthdays/16090_2.jpg" alt="" style="width:250px;height:200px;margin-top:20px"></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="product.html"><img src="~/Content/b/html/assets/dest/images/birthdays/W_Banq01.jpg" alt="" style="width:250px;height:200px;margin-top:20px"></a>
                        </div>

                    </div>
                </div>


            </ul> <!-- cd-faq-group -->


            <ul id="menu" class="cd-faq-group" style="margin-top:250px;">

                <li class="cd-faq-title"><h1>Menu</h1></li>
                <li>
                    <a class="cd-faq-trigger" style="color:black;" href="#0">Menu</a>
                    <div class="cd-faq-content">
                        <p> Chicken</p>
                        <p>Salad</p>
                        <p>Drinks</p>
                        <p>Rice</p>
                        <p>Starters</p>
                        <br />
                        <a class="page-scroll" href="#" style="color:blue; float:right">Edit</a>
                    </div> <!-- cd-faq-content -->
                </li>


            </ul> <!-- cd-faq-group -->
            <ul id="map" class="cd-faq-group">
                <li class="cd-faq-title"><h1>Map</h1></li>

                <li>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"> Google Map</h4>

                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div><iframe class="si" style=" height:290px" width="750px;" src="http://www.mapsdirections.info/en/custom-google-maps/map.php?width=80%&height=600&hl=ru&q=Malet%20St%2C%20London%20WC1E%207HU%2C%20United%20Kingdom+(Your%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/en/custom-google-maps/">Create a custom Google Map</a> by <a href="http://www.mapsdirections.info/en/">UK Maps</a></iframe></div><br />
                            </div>
                        </div>
                    </div>
                </li>


            </ul> <!-- cd-faq-group -->
            <ul id="Comments" class="cd-faq-group">
                <li class="cd-faq-title" style="color:black;"><h1>Comments</h1></li>
                <li>
                    <a class="cd-faq-trigger" style="color:black;" href="#0">Comments by customers</a>
                    <div class="cd-faq-content">


                        <style>
                            .panel-shadow {
                                box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
                            }

                            .panel-white {
                                border: 1px solid #dddddd;
                            }

                                .panel-white .panel-heading {
                                    color: #333;
                                    background-color: #fff;
                                    border-color: #ddd;
                                }

                                .panel-white .panel-footer {
                                    background-color: #fff;
                                    border-color: #ddd;
                                }

                            .post .post-heading {
                                height: 95px;
                                padding: 20px 15px;
                            }

                                .post .post-heading .avatar {
                                    width: 60px;
                                    height: 60px;
                                    display: block;
                                    margin-right: 15px;
                                }

                                .post .post-heading .meta .title {
                                    margin-bottom: 0;
                                }

                                    .post .post-heading .meta .title a {
                                        color: black;
                                    }

                                        .post .post-heading .meta .title a:hover {
                                            color: #aaaaaa;
                                        }

                                .post .post-heading .meta .time {
                                    margin-top: 8px;
                                    color: #999;
                                }

                            .post .post-image .image {
                                width: 100%;
                                height: auto;
                            }

                            .post .post-description {
                                padding: 15px;
                            }

                                .post .post-description p {
                                    font-size: 14px;
                                }

                                .post .post-description .stats {
                                    margin-top: 20px;
                                }

                                    .post .post-description .stats .stat-item {
                                        display: inline-block;
                                        margin-right: 15px;
                                    }

                                        .post .post-description .stats .stat-item .icon {
                                            margin-right: 8px;
                                        }

                            .post .post-footer {
                                border-top: 1px solid #ddd;
                                padding: 15px;
                            }

                                .post .post-footer .input-group-addon a {
                                    color: #454545;
                                }

                                .post .post-footer .comments-list {
                                    padding: 0;
                                    margin-top: 20px;
                                    list-style-type: none;
                                }

                                    .post .post-footer .comments-list .comment {
                                        display: block;
                                        width: 100%;
                                        margin: 20px 0;
                                    }

                                        .post .post-footer .comments-list .comment .avatar {
                                            width: 35px;
                                            height: 35px;
                                        }

                                        .post .post-footer .comments-list .comment .comment-heading {
                                            display: block;
                                            width: 100%;
                                        }

                                            .post .post-footer .comments-list .comment .comment-heading .user {
                                                font-size: 14px;
                                                font-weight: bold;
                                                display: inline;
                                                margin-top: 0;
                                                margin-right: 10px;
                                            }

                                            .post .post-footer .comments-list .comment .comment-heading .time {
                                                font-size: 12px;
                                                color: #aaa;
                                                margin-top: 0;
                                                display: inline;
                                            }

                                        .post .post-footer .comments-list .comment .comment-body {
                                            margin-left: 50px;
                                        }

                                        .post .post-footer .comments-list .comment > .comments-list {
                                            margin-left: 50px;
                                        }
                        </style>




                        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="width:750px;">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>Ryan Haywood</b></a>
                                                    made a post.
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12" style="width:750px;">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>Ryan Haywood</b></a>
                                                    made a post.
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div> <!-- cd-faq-content -->
                </li>


            </ul> <!-- cd-faq-group -->

            <ul id="Services" class="cd-faq-group">
                <li class="cd-faq-title" style="color:black;"><h1>Services</h1></li>

                <li>
                    <a class="cd-faq-trigger" style="color:black;" href="#0">Sound System</a>
                    <div class="cd-faq-content">
                        <p>Sound System</p> <br />
                        <a class="page-scroll" href="#" style="color:blue; float:right">Edit</a>
                    </div> <!-- cd-faq-content -->

                </li>
                <li>
                    <a class="cd-faq-trigger" style="color:black;" href="#0">Decoration</a>
                    <div class="cd-faq-content">
                        <p>Decoration</p><br />
                        <a class="page-scroll" href="#" style="color:blue; float:right">Edit</a>
                    </div> <!-- cd-faq-content -->

                </li>



            </ul> <!-- cd-faq-group -->

        </div> <!-- cd-faq-items -->
        <a href="#0" class="cd-close-panel">Close</a>
    </section> <!-- cd-faq -->
    <script src="~/Content/FAQ/js/jquery-2.1.1.js"></script>
    <script src="~/Content/FAQ/js/jquery.mobile.custom.min.js"></script>
    <script src="~/Content/FAQ/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
