.hello-fading{-webkit-animation:fading 8s infinite;animation:fading 8s infinite}
@-webkit-keyframes fading{0%{opacity:0.1}50%{opacity:1}100%{opacity:0.1}}
@keyframes fading{0%{opacity:0.1}50%{opacity:1}100%{opacity:0.1}}
.modal-dialog
{
    width:80%;
}

i
{
    width:82%;
   
}
@media only screen and (max-width : 920px){
      .s{
          display: none;   
      }
      .image_marriage{
          position:center;
      }
      .modal-dialog
      {
         width:100%;
      }
      .si
      {
          width:100%;
      }
    }
@media only screen and (max-width: 1000px) {
    .mymenu{
      opacity :0;
    }
}